<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- Header Fragment 선언부 -->
<div th:fragment="header">
    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a id="home" href="/articles" class="nav-link px-2 text-secondary">Home</a></li>
                </ul>
                <div class="text-end">
                    <span class="text-white me-2"></span>
                    <div sec:authorize="isAnonymous()">
                        <a class="btn btn-outline-light me-2" href="/user/login">Login</a>
                        <a class="btn btn-outline-light me-2" href="/user/signup">Signup</a>
                    </div>
                    <div sec:authorize="isAuthenticated()">
                        <a th:if="${#strings.equals(#authentication.principal.user.oauth,'WOORI')}"
                           class="btn btn-outline-light me-2" href="javascript:wooriLogout();">Logout</a>
                        <a th:if="${#strings.equals(#authentication.principal.user.oauth,'NAVER')}"
                           class="btn btn-outline-light me-2" href="javascript:naverLogout();">Logout</a>
                        <a th:if="${#strings.equals(#authentication.principal.user.oauth,'GOOGLE')}"
                           class="btn btn-outline-light me-2" href="javascript:googleLogout();">Logout</a>
                        <a th:if="${#strings.equals(#authentication.principal.user.oauth,'KAKAO')}"
                           class="btn btn-outline-light me-2" href="javascript:kakaoLogout();">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <br>
    <script>
        function wooriLogout() {
            if (confirm("정말 로그아웃 하시겠습니까?")) {
                location.href = "/logout";
            }
        }
        function googleLogout() {
            if (confirm("정말 로그아웃 하시겠습니까?")) {
                let win = window.open('https://accounts.google.com/logout',"popup", "width=400, height=300, menubar=1")
                location.href = "/logout";
            }
        }
        function naverLogout() {
            if (confirm("정말 로그아웃 하시겠습니까?")) {
                window.open('http://nid.naver.com/nidlogin.logout',"popup", "width=400, height=300, menubar=1")
                location.href = "/logout";
            }
        }
        function kakaoLogout() {
            if (confirm("정말 로그아웃 하시겠습니까?")) {
                location.href = "/logout/kakao";
            }
        }
    </script>
</div>
</html>

<!--<a th:if="${#strings.contains(#authentication.name, 'kakao')}" class="btn btn-outline-light me-2" th:href="@{https://kauth.kakao.com/oauth/logout?(client_id=${@environment.getProperty('spring.security.oauth2.client.registration.kakao.client-id')} , logout_redirect_uri=${@environment.getProperty('logout_redirect_uri')})}">카카오 로그아웃</a>-->